@CHARSET "UTF-8";
body {
	margin: 0;
	font-size: 12px;
	font-family: "微软雅黑", "宋体", Consolas, Verdana;
	padding: 0;
	height: 100%;
}

a {
	text-decoration: none;
	margin-left: 0px;
}

a.website {
	text-decoration: underline;
	margin-left: 5px;
	margin-right: 5px;
}

p {
	font-size: 14px;
	font-family: "微软雅黑", "宋体", Consolas, Verdana;
	text-indent: 28px;
	margin: 0;
	padding-top: 5px;
}

#offical_site_box {
	position: relative;
	text-align: center;
	left: 15px;
	top: 160px;
	width: 170px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #F90;
	cursor: pointer;
}

#simple_wifi_box {
	position: relative;
	text-align: center;
	left: 15px;
	top: 180px;
	width: 170px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #F90;
	cursor: pointer;
}

#offical_site_box a, #simple_wifi_box a {
	color: #FFF;
	font-size: 16px;
	text-decoration: underline;
}

div#check_box_left {
	float: left;
	width: 50%;
}

div#check_box_right {
	float: right;
	width: 50%;
}

#login {
	position: relative;
	top: 100px;
	width: 402px;
	height: 302px;
}

.login_cn {
	background: url(../images/anhui/login.png) no-repeat;
}

.login_en {
	background: url(../images/anhui/login_en.png) no-repeat;
}

.tr_header {
	background-color: #0085D0;
}

#login table {
	position: relative;
	top: 100px;
	left: 72px;
}

#login table th {
	padding: 7px;
	margin: 0;
	font-size: 14px;
	text-align: right;
}

#login input[type=textbox] {
	font-size: 14px;
	height: 28px;
	_height: 28px !important;
}

#login input[type=button] {
	height: 30px;
	width: 100px;
	_height: 30px !important;
}

#header {
	font-size: 14px;
	position: relative;
	top: 0;
	width: 100%;
	height: 67px;
	border-bottom: 1px solid #0085D0;
}

.header_default {
	background: url(../images/anhui/default_banner.gif) no-repeat;
}

.header_logo {
	background: url(../images/logo.gif) no-repeat;
}

.header_5g {
	background: url(../images/anhui/banner.gif) no-repeat 0 -68px;
}

.header_df {
	background: url(../images/anhui/banner.gif) no-repeat 0 -136px;
}

.mcs_lbl {
	padding-right: 0;
}

#mcs_df {
	display: none;
}

#userinfo {
	position: absolute;
	top: 5px;
	right: 30px;
}

#userinfo a {
	color: #0085D0;
	text-decoration: underline;
}

#timeinfo {
	color: #000;
	position: absolute;
	top: 40px;
	right: 30px;
}

.connect_status {
	padding: 5px;
	color: #FFF;
	background: #009fd5;
}

.demo_item {
	width: 100px;
	height: 20px;
	text-align: center;
	padding: 4px;
	margin: 4px;
	color: #999;
	font-size: 14px;
	background-color: #F7F7F7;
	border: 1px solid #ccc;
}

.demo_item_current {
	color: #27568F;
	background-color: #D9E5F4;
	border: 1px solid #2E6DB4;
}

/*
#siginfo {
	color: #0085D0;
	position: absolute;
	top: 25px;
	left: 350px;
}
*/

#closeInternet {
	position: absolute;
	color: red;
	top: 0px;
	left: 30%;
	width: 600px;
	padding: 3px;
	text-align: center;
}

.close_internet {
	background: #FFF;
}

#logoDiv {
	float: left;
	margin: 10px 25px;
	width: 150px;
	height: 50px;
}

#logoDiv img {
	width: 100%;
	height: 100%;
}

#siginfo {
	color: #005F7F;
	position: relative;
	top: 25px;
	left: 100px;
	margin: 0 auto;
	width: 655px;
}

#siginfo table td {
	_padding-top: 0;
	_line-height: 25px;
}

#siginfo div {
	vertical-align: middle;
	height: 25px;
}

#netInfo {
	width: 35px;
}

#simInfo {
	width: 55px;
}

#wifiInfo {
	width: 115px;
}

#wifiInfo5g {
	width: 115px;
}

#lteUsbInfo {
	width: 43px;
}

#smsInfo {
	width: 160px;
}

#simInfo div, #lteUsbInfo div {
	padding-left: 20px;
}

#simInfo div.normal, #lteUsbInfo div.normal {
	background: url("../images/anhui/status.gif") no-repeat;
}

#simInfo div.unnormal, #lteUsbInfo div.unnormal {
	background: url("../images/anhui/status.gif") no-repeat 0 -25px;
}

#simInfo div.invalid, #lteUsbInfo div.invalid {
	background: url("../images/anhui/status.gif") no-repeat 0 -50px;
}

#wifiInfo div {
	padding-left: 28px;
}

#wifiInfo div.normal {
	background: url("../images/anhui/wifi.gif") no-repeat;
}

#wifiInfo div.unnormal {
	background: url("../images/anhui/wifi.gif") no-repeat 0 -25px;
}

#wifiInfo div.partnormal {
	background: url("../images/anhui/wifi.gif") no-repeat 0 -50px;
}

#wifiInfo5g div {
	padding-left: 28px;
}

#wifiInfo5g div.normal {
	background: url("../images/anhui/wifi.gif") no-repeat;
}

#wifiInfo5g div.unnormal {
	background: url("../images/anhui/wifi.gif") no-repeat 0 -25px;
}

#wifiInfo5g div.partnormal {
	background: url("../images/anhui/wifi.gif") no-repeat 0 -50px;
}

#smsInfo div {
	padding-left: 28px;
}

#smsInfo div.normal {
	background: url("../images/anhui/sms.gif") no-repeat;
}

#smsInfo div.newsms {
	background: url("../images/anhui/sms.gif") no-repeat 0 -25px;
	cursor: pointer;
}

#smsInfo div.newsms2 {
	background: url("../images/anhui/sms.gif") no-repeat 1px -24px;
	cursor: pointer;
}

#flowWarning {
	width: 80px;
}

#flowWarning div {
	padding-left: 20px;
}

#flowWarning div.warning {
	background: url("../images/anhui/status.gif") no-repeat 0 -75px;
}

#flowWarning div.warning2 {
	background: url("../images/anhui/status.gif") no-repeat 0 -50px;
}

#lan1, #lan2, #lan3, #lan4, #wan1 {
	width: 35px;
}

#lan1 div.link, #lan2 div.link, #lan3 div.link, #lan4 div.link, #wan1 div.link {
	padding-left: 28px;
	background: url("../images/anhui/status.gif") no-repeat;
}

#lan1 div.unlink, #lan2 div.unlink, #lan3 div.unlink, #lan4 div.unlink, #wan1 div.unlink {
	padding-left: 28px;
	/*display: none;*/
	background: url("../images/anhui/status.gif") no-repeat 0 -75px;
}

#main {
	position: relative;
}

#left {
	position: absolute;
	width: 200px;
	height: 100%;
	border-right: 1px solid #0085D0;
}

#left_t, #left_b {
	position: relative;
	width: 200px;
	height:0;	
}

#left_t {
	background: url("../images/anhui/left_t.gif") no-repeat;
}

#left_m {
	background: url("../images/anhui/left_m.gif");
}

#left_b {
	background: url("../images/anhui/left_b.gif") no-repeat;
}

#right {
	position: absolute;
	left: 201px;
	overflow-y: auto;
}

#footer {
	position: relative;
	height: 29px;
	width: 100%;
	color: #005F7F;
	text-align: right;
	border-top: 1px solid #0085D0;
	background-color: #ECECEC;
}

#footer span {
	display: block;
	padding: 5px;
}

#syslog, #pppoe_log_box {
	font-size: 14px;
	padding: 10px 20px;
	line-height: 22px;
	overflow: auto;
	background-color: #F5F8FA;
}

#syshelper ul {
	margin: 10px 15px;
}

#syshelper li {
	padding: 5px;
}

#syshelper li a {
	font-size: 14px;
}

table.list {
	left: 5%;
	width: 90%;
	background: #999;
	color: #000;
	font-size: 12px;
	margin: 0 auto;
	margin-top: 10px;
}

table.list1 {
	position: absolute;
	top: 70px;
	left: 5%;
	width: 90%;
	background: #999;
	color: #000;
	font-size: 12px;
	margin: 60px auto;
}

table.list2 {
	position: absolute;
	top: 70px;
	left: 5%;
	width: 90%;
	background: #999;
	color: #000;
	font-size: 12px;
	margin: 120px auto;
}

table.list3 {
	position: absolute;
	top: 70px;
	left: 5%;
	width: 90%;
	background: #999;
	color: #000;
	font-size: 12px;
	margin: 33px auto;
}

table.list4 {
	position: absolute;
	top: 70px;
	left: 5%;
	width: 90%;
	background: #999;
	color: #000;
	font-size: 12px;
	margin: 220px auto;
}

table.list td {
	padding-left: 10px;
	background: #FFF;
}

table.list1 td, table.list1 th {
	padding-left: 10px;
	background: #FFF;
}

table.list3 td, table.list3 th {
	padding-left: 10px;
	background: #FFF;
}

table.list4 td, table.list4 th {
	padding-left: 10px;
	background: #FFF;
}

table.list th {
	padding-left: 10px;
	background: #FFF;
}

/*table.list2 {
	left: 5%;
	width: 90%;
	background: #999;

	color: #000;
	font-size: 14px;
	margin: 0 auto;
	margin-top: 20px;
}*/

table.list2 td {
	text-align: center;
	padding-left: 10px;
	background: #FFF;
}

table.list2 th {
	text-align: center;
	padding-left: 10px;
	background: #FFF;
}

table.aplist {
	position: absolute;
	top: 40px;
	left: 15px;
	width: 570px;
	background: #999;
}

table.aplist th {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	height: 21px;
	background: #FFF;
}

table.aplist td {
	text-align: left;
	padding-left: 5px;
	font-size: 12px;
	height: 18px;
	background: #FFF;
}

#sms_info {
	padding-top: 10px;
}

#sms_pager {
	padding-top: 5px;
	height: 30px;
	background: #E4E4E4;
	margin-bottom: 5px;
}

#sms_pager ul {
	margin: 0 !important;
	padding: 0;
	height: 26px;
}

#sms_pager li {
	float: left;
	padding: 0;
	margin: 3px;
	list-style-type: none;
}

#sms_pager a {
	display: none;
	padding: 3px 0 3px 8px;
	text-decoration: underline;
	border: solid 1px #D9E5F4;
}

table.sms {
	width: 100%;
}

table.sms th {
	text-align: left;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	background: #E4E4E4;
}

table.sms td {
	text-align: left;
	vertical-align: middle;
	padding: 4px;
	font-size: 12px;
}

table.sms th.indexNo, table.sms td.indexNo {
	width: 40px;
}

table.sms th.content {}

table.sms td.content {
	width: 50%;
}

table.sms table.content {
	width: 100%;
	table-layout: fixed;
}

table.sms table.content td {
	word-wrap: break-word;
}

label.msg {
	color: green;
	font-size: 12px;
}

.ok {
	color: green;
}

.error, .fail {
	color: #FF1111;
}

label.error {
	padding-left: 5px;
	color: #FF1111;
}

td.msg {
	color: #4D88D0;
	font-size: 16px;
	font-weight: bold;
	padding-left: 10px;
}

td.error {
	color: #FF1111;
}

#indexNo {
	width: 35px;
}

/********************************浮动拖拽界面START*********************************/

#divPane {
	position: absolute;
	float: left;
	top: 0px;
	left: 0px;
	display: none;
	color: #000;
	z-index: 100;
}

#coverDiv {
	position: absolute;
	width: 100%;
	float: left;
	overflow: hidden;
	z-index: -1;
}

#dragDiv {
	position: absolute;
	width: 600px;
	float: left;
	top: 8%;
	left: 30%;
	clear: both;
	overflow: hidden;
	z-index: 999;
}

#cifr, #difr {
	position: absolute;
	left: 0px;
	top: 0px;
	float: left;
	margin: 0px;
	padding: 0px;
	width: 100%;
	z-index: -1;
}

#a {
	float: left;
}

.al {
	opacity: 0.80;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=80, finishOpacity=100);
}

.al2 {
	opacity: 0.00;
	filter: progid:DXImageTransform.Microsoft.Alpha(style=0, opacity=0, finishOpacity=100);
}

u {
	display: block;
	overflow: hidden;
	height: 1px
}

u.f1 {
	background: #4D88D0;
	margin: 0px 3px
}

u.f2 {
	background: #4D88D0;
	border-right: #4D88D0 2px solid;
	margin: 0px 1px;
	border-left: #4D88D0 2px solid
}

u.f3 {
	background: #4D88D0;
	border-right: #4D88D0 1px solid;
	margin: 0px 1px;
	border-left: #4D88D0 1px solid
}

div.top {
	clear: both;
	overflow: hidden;
	background: #4D88D0;
	height: 29px;
	vertical-align: bottom;
}

div.top #exit {
	float: right;
	margin-top: 1px;
	margin-right: 10px;
	padding: 3px;
	width: 18px;
	color: #000;
	background: #FFF;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	font-size: 13px;
	vertical-align: middle;
	cursor: pointer;
}

div.top #title {
	float: left;
	font-size: 13px;
	margin-left: 15px;
	margin-top: 5px;
	color: #FFF;
}

div.body {
	border-right: #4D88D0 3px solid;
	border-left: #4D88D0 3px solid;
	height: 150px;
	padding: 10px;
	background: #FFF;
}

div.foot {
	clear: both;
	overflow: hidden;
	background: #4D88D0;
	height: 2px;
}

/*******************************浮动拖拽界面END**********************************/

/*-----------------------------导航栏BEGIN-----------------------------*/

ul, ul li {
	list-style: none;
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
}

#menu {}

#menu h3 {
	margin: 0;
	padding: 10px 5px 10px 15px;
	width: 180px;
	font-size: 16px;
	font-weight: normal;
	color: #000;
	cursor: pointer;
	background: url("../images/anhui/menu.gif") no-repeat;
}

#menu h3.hover {
	color: #000;
	background: url("../images/anhui/menu.gif") no-repeat 0 -44px;
}

#menu h3.selected {
	color: #FFF;
	background: url("../images/anhui/menu.gif") no-repeat 0 -88px;
}

#menu ul {
	width: 190px;
	padding: 5px 5px 15px 5px;
	background: #ECECEC url("../images/anhui/menu_selected_b.gif") no-repeat bottom;
}

#menu ul.selected {}

#menu ul.hover {
	background: url("../images/anhui/menu_hover_b.gif") no-repeat bottom;
}

#menu li a {
	margin-left: 0px;
	display: block;
	text-decoration: none;
	_height: 16px;
	padding: 3px 4px 3px 15px;
	font-size: 16px;
	color: #0085D0;
	border-bottom: 1px dashed #CCC;
}

#menu li.current a {
	color: #0085D0;
	background: url("../images/anhui/arrow.gif") no-repeat 6px 10px;
	background-color: #CADBF0;
}

#menu li a:hover {
	color: #990000;
	background: url("../images/anhui/arrow.gif") no-repeat 6px 12px;
	background-color: #fff;
}

ul li a {
	blr: expression(this.onFocus=this.blur())
}

/*针对 IE*/

ul li a {
	outline: none;
}

/*针对firefox等*/

/*-----------------------------导航栏END-----------------------------*/

/*-----------------------------表格BEGIN-----------------------------*/

#wireless_info {
	position: relative;
}

#net_state {
	position: relative;
}

#lan {
	position: absolute;
	left: 0;
	top: 30px;
	padding: 5px;
}

#wan {
	position: absolute;
	left: 355px;
	top: 30px;
	padding: 5px;
}

div.detail_box {
	width: 95%;
	margin: 0 auto;
	padding-bottom: 20px;
}

div.tab_box {
	margin: 0 auto;
	padding-bottom: 20px;
}

div.tab_menu_bottom {
	border-top: solid 5px #D9E5F4;
}

div.main_box {
	float: left;
	width: 60%;
}

div.helper_box {
	float: left;
	width: 40%;
	height: auto;
	background-color: #ECF1F4;
	overflow: auto;
}

div#helper {
	padding: 10px;
	font-size: 14px;
}

div.helper_name {
	padding-left: 5px;
	font-size: 14px;
	font-weight: bold;
	line-height: 25px;
	background-color: #D9E5F4;
}

div.helper_desc {
	padding: 5px 20px;
	margin-bottom: 10px;
}

div.helper_desc ul {
	margin-left: 10px;
}

div.helper_desc li {
	padding: 7px 0;
}

span.strong {
	font-weight: bold;
}

div.detail {
	line-height: 30px;
	font-size: 16px;
	text-indent: 15px;
	font-weight: bold;
	background: #D9E5F4;
	color: #000;
	width: 100%;
}

div.detail_s {
	width: 100%;
}

table.detail {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 3px;
}

table.detail th {
	padding: 2px;
	margin: 0;
	text-align: left;
	font-size: 14px;
	color: #333;
	width: 200px;
}

table.detail td {
	padding: 6px;
	margin: 0;
	font-size: 14px;
}

table.detail2 {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 3px;
}

table.detail2 th {
	padding: 10px 20px;
	margin: 0;
	text-align: left;
	font-size: 14px;
	color: #333;
}

table.detail2 td {
	padding: 6px;
	margin: 0;
	font-size: 14px;
}

table.detail_s {
	width: 100%;
}

#field_content {
	width: 60%;
	vertical-align: top;
}

#field_cmt {
	width: 40%;
	background: #F2FFE6;
	vertical-align: top;
	padding: 20px;
}

table.detail_s {
	width: 360px;
}

#birdged, #nat {
	display: none;
}

fieldset {
	margin: 0;
	padding: 0;
	-moz-border-radius: 6px;
}

legend {
	color: #000;
	font-size: 16px;
}

table.detail_fieldset {
	width: 100%;
	border: none;
}

.required {
	display: block;
	position: absolute;
	left: 10px;
	color: #F00;
}

.odd {
	background-color: #F5F8FA;
}

.even {
	background-color: #fff;
}

table.list_client {
	text-align: left;
	border-collapse: separate;
	text-indent: 25px;
}

table.list_client th.th_client_title {
	border-right: solid 1px #00394d;
	border-left: solid 1px #009fd5;
	text-align: left;
	color: white;
	width: auto;
}

input.small {
	width: 150px;
}

input.normal {
	width: 180px;
}

input.large {
	width: 280px;
}

input.larger {
	width: 380px;
}

input.largest {
	width: 480px;
}

input.txt1 {
	width: 36px;
}

input.txt2 {
	width: 60px;
}

input.txt3 {
	width: 90px;
}

input.txt4 {
	width: 120px;
}

.passwordImg {
	width: 30px;
	height: 23px;
	position: absolute;
	margin-left: 5px;
}

/*-----------------------------表格END-----------------------------*/

/*-----------------------------Mask BEGIN-----------------------------*/

#progress_box {
	display: none;
	position: absolute;
	left: 200px;
	top: 140px;
	width: 500px;
	height: 180px;
	z-index: 999;
	border: solid 8px #999;
	background: #fff;
}

#progress_info {
	position: absolute;
	top: 30px;
	left: 50px;
	width: 400px;
	height: 40px;
	font-size: 16px;
}

#progress_bar {
	position: absolute;
	top: 80px;
	left: 50px;
	width: 400px;
	height: 20px;
	border: solid 1px #a2f900;
}

#progress_status {
	position: relative;
	width: 0;
	height: 20px;
	background: #c9ff67;
}

#info_box {
	display: none;
	position: absolute;
	height: 400px;
	width: 800px;
	z-index: 999;
	border: solid 8px #999;
	background: #fff;
}

#info_head {
	position: relative;
	height: 20px;
	padding: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

#info_close {
	position: absolute;
	left: 730px;
	top: 1px;
	width: 40px;
}

#info_box div.info {
	position: relative;
	top: 100px;
	padding: 10px;
	color: red;
	font-size: 16px;
	text-indent: 30px;
}

#info_tab_head {
	position: relative;
	width: 800px;
}

#info_tab_head table {
	width: 770px;
	border: solid 1px #0085D0;
	margin-left: 5px;
	margin-right: 5px;
	background: #0085D0;
}

#info_tab_head table th {
	color: #fff;
	height: 22px;
	padding: 4px;
	font-size: 14px;
	text-align: left;
	overflow: hidden;
	border-right: solid 1px #00394d;
	border-left: solid 1px #009fd5;
}

#info_body {
	position: relative;
	height: 335px;
	width: 800px;
	overflow-x: hidden;
	overflow-y: scroll;
}

#info_main {
	overflow: hidden;
}

#mask {
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: black;
	-moz-opacity: 0.5;
	opacity: .50;
	filter: alpha(opacity=50);
	z-index: 998;
}

#tab_ap {
	width: 770px;
	border: solid 1px #0085D0;
	border-top: none;
	margin: 5px;
	margin-top: 0;
	border-collapse: separate;
}

#tab_ap td {
	padding: 5px;
}

.sort_field, .sort_direction {
	cursor: pointer;
	text-decoration: underline;
}

.ap_index {
	width: 50px;
}

.ap_freq {
	width: 50px;
}

.ap_mac {
	width: 140px;
}

.asc {
	background: url("../images/anhui/direction.gif") no-repeat right 0;
}

.desc {
	background: url("../images/anhui/direction.gif") no-repeat right -30px;
}

.fixed_head {
	top: expression(this.offsetParent.scrollTop);
}

/*-----------------------------Mask END-----------------------------*/

.singal {
	display: block;
	height: 20px;
	width: 35px;
	text-indent: 27px;
}

.signalHome {
	display: block;
}

.signalHome0 {
	width: 118px;
	height: 118px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url('../images/signalLevel3.png');
	background-position: left -1089px;
}

.signalHome1 {
	width: 118px;
	height: 118px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url('../images/signalLevel3.png');
	background-position: left -1207px;
}

.signalHome2 {
	width: 118px;
	height: 118px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url('../images/signalLevel3.png');
	background-position: left -1325px;
}

.signalHome3 {
	width: 118px;
	height: 118px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url('../images/signalLevel3.png');
	background-position: left -11443px;
}

.signalHome4 {
	width: 118px;
	height: 118px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url('../images/signalLevel3.png');
	background-position: left -1561px;
}

.signalHome5 {
	width: 118px;
	height: 118px;
	overflow: hidden;
	background-repeat: no-repeat;
	background-image: url('../images/signalLevel3.png');
	background-position: left -1679px;
}

.singal0, .singal0_lock {
	background: url("../images/anhui/singalLevel.gif") no-repeat 0 0px;
}

.singal1 {
	background: url("../images/anhui/singalLevel.gif") no-repeat 0 -25px;
}

.singal2 {
	background: url("../images/anhui/singalLevel.gif") no-repeat 0 -50px;
}

.singal3 {
	background: url("../images/anhui/singalLevel.gif") no-repeat 0 -75px;
}

.singal4 {
	background: url("../images/anhui/singalLevel.gif") no-repeat 0 -100px;
}

.singal5 {
	background: url("../images/anhui/singalLevel.gif") no-repeat 0 -125px;
}

.singal6 {
	background: url("../images/anhui/singalLevel.gif") no-repeat 0 -273px;
}

.singal2_0 {
	background: url("../images/anhui/status.gif") no-repeat 0 -50px;
}

.singal2_1 {
	background: url("../images/anhui/status.gif") no-repeat 0 -50px;
}

.singal2_2 {
	background: url("../images/anhui/status.gif") no-repeat 0 -25px;
}

.singal2_3 {
	background: url("../images/anhui/status.gif") no-repeat;
}

.singal2_4 {
	background: url("../images/anhui/status.gif") no-repeat 0 -125px;
}

.singal2_5 {
	background: url("../images/anhui/status.gif") no-repeat 0 -100px;
}

.singal1_lock {
	background: url("../images/anhui/singalLevel.gif") no-repeat 0 -150px;
}

.singal2_lock {
	background: url("../images/anhui/singalLevel.gif") no-repeat 0 -175px;
}

.singal3_lock {
	background: url("../images/anhui/singalLevel.gif") no-repeat 0 -200px;
}

.singal4_lock {
	background: url("../images/anhui/singalLevel.gif") no-repeat 0 -225px;
}

.singal5_lock {
	background: url("../images/anhui/singalLevel.gif") no-repeat 0 -250px;
}

.cmt {
	padding-left: 5px;
	color: green;
}

/*----------tabs begin------------*/

div.tab_boxes {
	padding: 0;
}

div.tab_menu {
	padding-left: 5px;
	border-bottom: 1px solid #2E6DB4;
}

div.tab_btns {
	padding-top: 5px;
}

div.tab_boxes table.list {
	width: 100%;
	margin: 0 auto;
	margin-top: 7px;
	border: solid 1px #0085D0;
}

div.tab_boxes table.list th {
	color: #fff;
	height: 22px;
	padding: 4px;
	font-size: 14px;
	text-align: left;
	overflow: hidden;
	background: #0085D0;
	border-right: solid 1px #00394d;
	border-left: solid 1px #009fd5;
}

div.tab_boxes table.list td {
	padding: 5px;
}

div.tab_boxes table.list tr.disabled {
	color: #999;
}

div.tab_boxes table.list tr.disabled span {
	color: #999;
}

div.tab_boxes table.list tr.disabled a.common {
	color: #999;
	cursor: default;
}

label.disabled {
	color: #999;
}

div.tab_boxes table.list th.index {
	width: 50px;
}

/* root element for tabs  */

ul.tabs {
	margin: 0 !important;
	padding: 0;
	height: 26px;
}

/* single tab */

ul.tabs li {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#totop a {
	margin-left: 0px;
	display: block;
	text-decoration: none;
}

#totop a:visited {
	color: #333;
}

#totop:hover {
	margin: 0px;
	padding: 0px;
	position: fixed;
	bottom: 50px;
	right: 30px;
	width: 14px;
	filter: alpha(opacity=100);
	opacity: 1.0;
}

/*-----------------------------totop END-----------------------------*/

/* link inside the tab. uses a background image */

ul.tabs a {
	float: left;
	font-size: 13px;
	display: block;
	padding: 3px 15px;
	text-decoration: none;
	border: solid 1px #7BAADD;
	border-bottom: 0px;
	height: 18px;
	background-color: #e8f1f8;
	color: #27568F;
	margin-right: 2px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	position: relative;
	top: 1px;
}

ul.tabs a:hover {
	background-color: #F7F7F7;
	color: #333;
}

/* selected tab */

ul.tabs a.current {
	color: #27568F;
	background-color: #D9E5F4;
	border: 1px solid #2E6DB4;
	border-bottom: 2px solid #D9E5F4;
	cursor: default;
}

/*----------tabs end------------*/

#edit_box {
	display: none;
	position: absolute;
	padding: 20px;
	height: 300px;
	width: 700px;
	z-index: 999;
	border: solid 8px #999;
	background: #fff;
	top: 0px !important;
}

#edit_title {
	float: left;
}

#edit_close {
	padding-top: 4px;
	padding-right: 4px;
	float: right;
}

#edit_box2 {
	display: none;
	position: absolute;
	padding: 20px;
	height: 300px;
	width: 700px;
	z-index: 999;
	border: solid 8px #999;
	background: #fff;
}

#edit_title2 {
	float: left;
}

#edit_close2 {
	padding-top: 4px;
	padding-right: 4px;
	float: right;
}

.bandDiv span {
	padding-left: 8px;
	width: 90%;
	font-size: 18px;
	line-height: 30px;
	margin-bottom: 5px
}

.new_pin {
	display: none;
}

.hidden {
	display: none;
}

#main {	
	position: relative;
}

#main .login_left {
	box-sizing: border-box;
	position: absolute;
	width: 70%;
	height: auto;
	border-right: 1px solid #0085D0;
}

#main .login_left, .login_left_t {
	box-sizing: border-box;
	position: relative;
	width: 70%;
	height:0;	
}

#main .login_left_t {
	background: url("../images/anhui/left_t.gif") no-repeat;
}

#main .login_left_m {
	background: url("../images/anhui/left_m.gif");
}

#main .login_left_b {
	background: url("../images/anhui/left_b.gif") no-repeat;
}

#login_container {
	position: relative;
	width: 100%;
	height: 100%;
	top: 100px;
}

#login_container .Login_EN {
	margin: 7% auto;
	width: 40%;
	height: 60%;
	background: url(../images/anhui/login_en.png) no-repeat;
}

#login_container .Login_CN {
	margin: 7% auto;
	width: 40%;
	height: 60%;
	background: url(../images/anhui/login.png) no-repeat;
}

#login_container .login_desc {
	display: inline-block;
	text-align: right;
	vertical-align: top;
	padding-right: 6px;
	padding-left: 20px;
	width: 25%;
	font-size: 14px;
	font-weight: bolder;
}

#login_container .login_desc .login_desc_username {
	padding-top: 114px;
}

#login_container .login_desc .login_desc_password {
	padding-top: 17px;
}

#login_container .login_desc .login_desc_language {
	padding-top: 15px;
}	

#login_container .login_table {
	display: inline-block;
	vertical-align: top;
	padding-top: 105px;
}

.login_table .tr_language {
	padding-top: 10px;
}

.login_table .tr_username {
	padding-top: 10px;
}

.login_table .tr_username input {
	box-sizing: border-box;
	outline: none;
	width: 190px;
	height: 27px;
	padding: 0 0 0 8px;
	border: 1px solid #a8a8a8;
	border-radius: 4px;
	margin-top: 5px;
	background-color: white !important;	
}

.login_table .tr_username input:focus {
	box-sizing: border-box;
	outline: none;
	width: 190px;
	height: 27px;
	padding: 0 0 0 8px;
	border: 1px solid #acae3d;
	border-radius: 4px;
	margin-top: 5px;
	background-color: white !important;
}

.login_table .tr_password {
	padding-top: 10px;
}

.login_table .tr_password input {
	box-sizing: border-box;
	outline: none;
	width: 190px;
	height: 27px;
	padding: 0 0 0 8px;
	border: 1px solid #a8a8a8;
	border-radius: 4px;
	margin-top: 5px;
	background-color: white !important;	
}

.login_table .tr_password input:focus {
	box-sizing: border-box;
	outline: none;
	width: 190px;
	height: 27px;
	padding: 0 0 0 8px;
	border: 1px solid #acae3d;
	border-radius: 4px;
	margin-top: 5px;
	background-color: white !important;
}

.login_table .td_language select {
	box-sizing: border-box;
	overflow: hidden !important;
	outline: none;
	width: 120px;
	height: 27px;
	padding: 5px 30px 5px 8px;
	border: 1px solid #a8a8a8;
	border-radius: 4px;
	margin-top: 5px;
	background: url(../images/anhui/arrow_down.png) no-repeat scroll right center transparent;
	background-color: white !important;
	background-size: 8px 8px;
	background-position: 100px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.login_table .td_language select::-ms-expand { 
	display: none; 
} 

.login_table .tr_td_btn input {
	box-sizing: border-box;
    height: 27px;
	width: 90px;
	padding: 5px 0 5px 0;
	border: 1px solid #a8a8a8;
	border-radius: 4px;
	margin-top: 10px;
	background-color: white;
	cursor: pointer;
}

#main .login_right {
	overflow: auto;
	position: absolute;
	top: 0;
	left: 70.11%;
	width: 30%;
	height: auto;
}

.login_right table th{
	padding-left: 10px;
}

#copyright {
	box-sizing: border-box;
	position: fixed;
	bottom:0;
	height: 30px;
	line-height: 26px;
	width: 100%;
	padding-top:0;
	padding-right: 5px;
	color: #005F7F;
	text-align: right;
	font-size: 12px;
	border-top: 1px solid #0085D0;
	background-color: #ECECEC;
}
