<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript">
    $(document).ready(function() {
        var opts = {
            cn: {
                lockTh: '锁物理小区',
                lockCurrent: '锁定当前物理小区',
                lockSpecific: '锁定指定物理小区',
                unlock: '解锁',
                lockedStatus: {th:'锁定状态', locked:'已锁定', unlocked: '未锁定'},
                enodeBId: 'EnodeB ID',
                freqPoint: '频点',
                phyCellId: '物理小区ID',
                btnSave: '确 定',
                readFail: '获取数据失败',

                lockSuccess: '锁定成功!',
                lockFail: '锁定失败!',
                unlockSuccess: '解锁成功!',
                unlockFail: '解锁失败!',
                confirmUnlock: '您确定要解锁吗?',
                serverIpEmpty: '网管服务器地址为空，请在高级设置页面设置网管服务器地址。',
                authFail: '网管服务器禁止锁物理小区，请联系管理员。',
                only4G: '您必须将网络工作模式设置为“只在4G模式下工作”，请前往【设备配置】->【WAN 配置】->【选网方式】->【工作模式】进行设置。'
            },
            en: {
                lockTh: 'Lock Physical Cell',
                lockCurrent: 'Lock Current Physical Cell',
                lockSpecific: 'Lock Specific Physical Cell',
                unlock: 'Unlock',
                lockedStatus: {th:'Locked Status', locked:'Locked', unlocked: 'Unlocked'},
                enodeBId: 'EnodeB ID',
                freqPoint: 'EARFCN',
                phyCellId: 'Physical Cell ID',
                btnSave: 'Apply',
                readFail: 'Read failed.',

                lockSuccess: 'Locking success.',
                lockFail: 'Locking fail.',
                unlockSuccess: 'Unlocking success.',
                unlockFail: 'Unlocking fail.',
                confirmUnlock: 'Are you sure you want to unlock physical cell?',
                serverIpEmpty: 'The server address is empty, please set the server address in advanced setting page.',
                authFail: 'You have not rights to lock physical cell.',
                only4G: 'You must set the network Working Mode as "Only 4G" first, please forward to Device Setting->WAN Setting->Network Mode->Working Mode'
            }
        };
        var lang = MasterPage.init(opts);


        var $btnSave = $('#btnSave').disable(),
            $locks = $('.lock').hide(),
            $spanLockedStatus = $('#spanLockedStatus'),
            $lockTypes = $('input[name=lockType]').disable();

        var lockType = 0;
        var lockedStatus = -1;
        var currentFreqPoint = "", currentPhyCellId = "";
        var lockedFreqPoint = "", lockedPhyCellId = "";

        $lockTypes.change(function() {
            if(this.value == 2){
                $locks.show();
            }else {
                $locks.hide();
            }
        });


        function showInfo() {
            if(lockedStatus == 1){
                $spanLockedStatus.html(lang.lockedStatus.unlocked);
            }else if (lockedStatus == 2) {
                $spanLockedStatus.html(lang.lockedStatus.locked);
                if(lockType == 2){
                    Page.setFormFieldValue2("txtFreqPoint",lockedFreqPoint);
                    Page.setFormFieldValue2("txtPhyCellId",lockedPhyCellId);
                    $locks.show();
                }
            }else {
                $spanLockedStatus.html(DOC.lbl.noSim);
            }
            InputUtil.setRadiosSelectedValue($lockTypes, lockType);
            $('#lockType').attr('old',lockType);
        }

        function getInfo() {
            Page.postJSON({
                json: {
                    cmd: RequestCmd.LOCK_ONE_CELL
                },
                success: function(datas) {
                    console.log(datas);
                    if(datas.modem != ''){
                        lockedStatus = 1;
                        currentPhyCellId = datas.modem.pci;
                        currentFreqPoint = datas.modem.earfcn;
                        $btnSave.enable();
                        $lockTypes.enable();
                        if(datas.pci != undefined && datas.pci != ''){
                            lockedStatus = 2;
                            lockedPhyCellId = datas.pci;
                            lockedFreqPoint = datas.earfcn;
                            if(datas.pci == datas.modem.pci){
                                lockType = 1;
                            }else {
                                lockType = 2;
                            }
                        }
                    }
                },
                complete: function() {
                    showInfo();
                }
            });
        }

        getInfo();

        var rules = {
                txtFreqPoint: { required: true, range:[0,65535]},
                txtPhyCellId: { required: true, range:[0,503]}
            },
            messages = {
                txtFreqPoint: { required: CHECK.required.freqPoint, range:CHECK.required.freqPointMax },
                txtPhyCellId: { required: CHECK.required.PhyCellId, range:CHECK.required.PhyCellIdMax }
            };


        $btnSave.click(function() {
            $(this).attr("disabled",true);
            var $form = $('#lockPhyCellForm');
            var json = JSON.parmsToJSON($form);

            if(json.lockType == $("#lockType").attr('old')){
                if(json.lockType == '2'){
                    if(json.txtFreqPoint == $("#txtFreqPoint").attr('old') && json.txtPhyCellId == $("#txtPhyCellId").attr('old')){
                        AlertUtil.alertMsg(CHECK.required.noChanges);
                        $(this).attr("disabled",false);
                        return false;
                    }
                }else {
                    AlertUtil.alertMsg(CHECK.required.noChanges);
                    $(this).attr("disabled",false);
                    return false;
                }

            }else {
                if(json.lockType == '1'){
                    json.txtFreqPoint = currentFreqPoint;
                    json.txtPhyCellId = currentPhyCellId;
                }else if(json.lockType == '2'){
                    if(!CheckUtil.checkForm($form, rules, messages)){
                        $(this).attr("disabled",false);
                        return false;
                    }
                }else if(json.lockType == '0'){
                    json.txtFreqPoint = '';
                    json.txtPhyCellId = '';
                }
            }

            delete json["lockType"];
            json.method = JSONMethod.POST;
            json.cmd = RequestCmd.LOCK_PHY_CELL;
            console.log(json);
            Page.postJSON({
                json: json,
                success: function(data) {
                    AlertUtil.alertMsg(PROMPT.saving.success);
					$("ul.tabs a").eq(2).click();
                },
                complete: function(){
                    $('#btnSave').attr("disabled",false);
                }
            });

        });

    });
</script>

<div class="tab_box" id="child_container">
    <script type="text/template" id="child_template">
        <form id="lockPhyCellForm">
            <table id="lockPhyCellTable" class="detail" cellspacing="0">
                <tr>
                    <th><%- lockedStatus.th %><%- colon %></th>
                    <td><span id="spanLockedStatus"></span></td>
                </tr>
                <tr>
                    <th><%- lockTh %><%- colon %></th>
                    <td>
                        <label id="lockType">
                            <input type="radio" name="lockType" value="0" /><%= unlock %>&nbsp;&nbsp;
                            <input type="radio" name="lockType" value="1" /><%= lockCurrent %>&nbsp;&nbsp;
                            <input type="radio" name="lockType" value="2" /><%= lockSpecific %>&nbsp;&nbsp;
                        </label>
                    </td>
                </tr>
                <tr class="lock">
                    <th><%- freqPoint %><%- colon %></th>
                    <td><input type="text" id="txtFreqPoint" name="txtFreqPoint" /></td>
                </tr>
                <tr class="lock">
                    <th><%- phyCellId %><%- colon %></th>
                    <td><input type="text" id="txtPhyCellId" name="txtPhyCellId" /></td>
                </tr>
                <tr id="trSave">
                    <th>&nbsp;</th>
                    <td>
                        <input type="button" id="btnSave" value="<%- btnSave %>"/>
                    </td>
                </tr>
            </table>
        </form>
    </script>
</div>

