<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript">
    $(document).ready(function() {
        Page.render();


        var $btnSave = $('#btnSave');
        var $tr069 = $('.tr069'),
            $noticeInterval = $('#noticeInterval'),
            $trNotice = $('.trNotice'),
            $trAcs = $('.trAcs'),
            $trAcsInput = $('.trAcs input'),
            $trCpe = $('.trCpe'),
            $trCpeInput = $('.trCpe input');

        var $enabled = $('#enabled'),
            $noticeEnabled = $('#noticeEnabled'),
            $acsAuthEnabled = $('#acsAuthEnabled'),
            $cpeAuthEnabled = $('#cpeAuthEnabled');
            $tr069.hide();
            $(".trNotice").hide();
            $(".trAcs").hide();
            $(".trCpe").hide();

        function isShowenabled(){
             if($("#enabled").prop("checked")){
               $tr069.show();
             }else{
                $tr069.hide();
             }
        }
        function isShowtrNotice(){
             if($("#noticeEnabled").prop("checked")){
               $(".trNotice").show();
             }else{
                $(".trNotice").hide();
             }
        }

        function isShowtrAcs(){
            if($("#acsAuthEnabled").prop("checked")){
                $(".trAcs").show();
             }else{
                $(".trAcs").hide();
             }
        }

        function isShowtrCpe(){
             if($("#cpeAuthEnabled").prop("checked")){
                $(".trCpe").show();
             }else{
                $(".trCpe").hide();
             }
        }

        $("#enabled").change(function(){
           isShowenabled();
           isShowtrNotice();
           isShowtrAcs();
           isShowtrCpe();
        })
        $("#noticeEnabled").change(function(){
            isShowtrNotice();
        })
        $("#acsAuthEnabled").change(function(){
           isShowtrAcs();
        })
        $("#cpeAuthEnabled").change(function(){
            isShowtrCpe();
        })

        // 获取TR069数据
        Page.postJSON({
            json: {
                cmd: RequestCmd.TR069_CONFIG,
                method: JSONMethod.GET
            },
            success: function(data) {
                var datas = data.tr069;
            if(datas.tr069_app_enable == "y"){
                $("#enabled").prop("checked",true);
               $(".tr069").show();

            }else{
                 $(".tr069").hide();
                 $("#enabled").prop("checked",false);
            }
            $("#url").val(datas.tr069_ServerURL);

            if(datas.tr069_PeriodicInformEnable == "y"){
                $(".trNotice").show();
                $noticeEnabled.prop("checked",true);
            }else{
                $noticeEnabled.prop("checked",false);
                $(".trNotice").hide();
            }

            $("#noticeInterval").val(datas.tr069_PeriodicInformInterval);

            if(datas.tr069_ACS_auth == "y"){
                $(".trAcs").show();
                $acsAuthEnabled.prop("checked",true);
            }else{
                $('.trAcs').hide();
                 $acsAuthEnabled.prop("checked",false);
            }

            if(datas.tr069_CPE_auth == "y"){
                $(".trCpe").show();
                $cpeAuthEnabled.prop("checked",true);
            }else{
                $(".trCpe").hide();
                 $cpeAuthEnabled.prop("checked",false);
            }

            $("#userName").val(datas.tr069_ServerUsername);
            $("#passwd").val(datas.tr069_ServerPassword);
            $("#linkUserName").val(datas.tr069_ConnectionRequestUname);
            $("#linkPasswd").val(datas.tr069_ConnectionRequestPassword);
           


            }
        });
        var rules = {
                noticeInterval: { number: true, min: 10 }
            },
            messages = {
                noticeInterval: {  number: CHECK.format.inputNumber, min: CHECK.min.noticeInterval }
            };

        $btnSave.bind('click', function() {
            var $form = $('#childForm');
             if(!CheckUtil.checkForm($form, rules, messages)){
                return false;
             }
            var json = JSON.parmsToJSON($form);
            json.cmd = RequestCmd.SET_TR069_CONFIG;
            json.method = JSONMethod.POST;
            if($("#enabled").prop("checked")){
                 json.enabled = "y";
            }else{
                json.enabled = "n";
                json.url = "";
                $("#noticeEnabled").prop("checked",false);
                $("#acsAuthEnabled").prop("checked",false);
                $("#cpeAuthEnabled").prop("checked",false);
            }
            if($("#noticeEnabled").prop("checked")){
                 json.noticeEnabled = "y";
            }else{
                json.noticeEnabled = "n";
                json.noticeInterval = "";
            }
            if($("#acsAuthEnabled").prop("checked")){
                 json.acsAuthEnabled = "y";
            }else{
                
                json.userName = "";
                json.passwd = "";
                json.acsAuthEnabled = "n";
            }

             if($("#cpeAuthEnabled").prop("checked")){
                 json.cpeAuthEnabled = "y";
            }else{
               
                json.cpeAuthEnabled = "n";
                json.linkUserName = "";
                json.linkPasswd = "";
            }
           
           Page.postJSON({
               $id: $btnSave,
               json: json,
               complete: function(data) {
                   AlertUtil.alertMsg(PROMPT.saving.success);
               }
           });
        });
    });
</script>

<div class="tab_box" id="child_container">
    <script type="text/template" id="child_template">
        <form id="childForm">
            <table id="childTable" class="detail" cellspacing="0">
                <tr>
                    <th><%- tr069.enable %><%- colon %></th>
                    <td>
                        <input type="checkbox" id="enabled" name="enabled" /><%- status.enable %>
                    </td>
                </tr>
                <tr class="tr069 showEnable">
                    <th><%- tr069.url %><%- colon %></th>
                    <td><input type="text" id="url" name="url" class="larger" maxlength="100" /></td>
                </tr>
                <tr class="tr069 showEnable">
                    <th><%- tr069.enableNotice %><%- colon %></th>
                    <td>
                        <input type="checkbox" id="noticeEnabled" name="noticeEnabled" /><%- status.enable %>
                    </td>
                </tr>
                <tr class="tr069 trNotice">
                    <th><%- tr069.noticeInterval %><%- colon %></th>
                    <td><input type="text" id="noticeInterval" name="noticeInterval" maxlength="10" class="txt2" /><span class="cmt"><%- unit.second %></span></td>
                </tr>
                <tr class="tr069 showEnable">
                    <th><%- tr069.enableAcsAuth %><%- colon %></th>
                    <td>
                        <input type="checkbox" id="acsAuthEnabled" name="acsAuthEnabled" /><%- status.enable %>
                    </td>
                </tr>
                <tr class="tr069 trAcs">
                    <th><%- tr069.acsUsername %><%- colon %></th>
                    <td><input type="text" id="userName" name="userName" maxlength="30" /></td>
                </tr>
                <tr class="tr069 trAcs">
                    <th><%- tr069.acsPasswd %><%- colon %></th>
                    <td><input type="text" id="passwd" name="passwd" maxlength="30" /></td>
                </tr>
                <tr class="tr069 showEnable">
                    <th><%- tr069.enableCpeAuth %><%- colon %></th>
                    <td>
                        <input type="checkbox" id="cpeAuthEnabled" name="cpeAuthEnabled" /><%- status.enable %>
                    </td>
                </tr>
                <tr class="tr069 trCpe">
                    <th><%- tr069.cpeUsername %><%- colon %></th>
                    <td><input type="text" id="linkUserName" name="linkUserName" maxlength="30" /></td>
                </tr>
                <tr class="tr069 trCpe">
                    <th><%- tr069.cpePasswd %><%- colon %></th>
                    <td><input type="text" id="linkPasswd" name="linkPasswd" maxlength="30" /></td>
                </tr>
                <tr id="trSave">
                    <th>&nbsp;</th>
                    <td>
                        <input type="button" id="btnSave" value="<%- btn.save %>"/>
                    </td>
                </tr>
            </table>
        </form>
    </script>
</div>

