<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript">
    $(document).ready(function() {
        Page.render();
        Page.setStripeTable();


        function getInfo() {
            Page.postJSON({
                json: {
                    cmd: RequestCmd.WPS_PIN_GET
                },
                success: function(datas) {
                    console.log(datas)
                }
            });
        }

        getInfo();

    });
</script>


<div class="tab_box" id="child_container">
    <script type="text/template" id="child_template">
            <form id="childForm" >
                <table class="detail" cellspacing="0">
                    <tr>
                        <th><%- lbl.wpsEnble %><%- colon %></th>
                        <td>
                            <input type="checkbox" id="wpsEnble" name="wpsEnble" /><%- status.enable %>
                        </td>
                    </tr>

                    <tr>
                        <th><%- lbl.wpsPin %><%- colon %></th>
                        <td>
                            <input type="text" id="wpsPin" name="wpsPin"  class="normal"/>
                        </td>
                    </tr>
                    <tr>
                        <th>&nbsp;</th>
                        <td><input type="button" id="btnSave" value="<%- btn.save %>" /></td>
                    </tr>
                </table>
            </form>
        <span style="clear:both"></span>
    </script>
</div>