<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript">

    $(document).ready(function() {
        function createContent() {
            var div = $('<div>', {'class': 'detail'}).text(DOC.title.localUpdate);
            var table = $('<table>', {'class': 'detail', 'cellspacing': '0'});
            var th = $('<th>').text(DOC.sys.selectUpdateFile + DOC.colon);
            var form = $('<form>', {'id': 'form1', 'enctype': 'multipart/form-data', 'method': 'post', 'name': 'fileUploadForm'});
            var input1 = $('<input>', {'type': 'file', 'id': 'fp', 'name': 'fp', 'style': 'display: none', 'onchange': 'document.fileUploadForm.filepath.value=this.value'});
            var input2 = $('<input>', {'type': 'textfield', 'id': 'filepath'});
            var input3 = $('<input>', {'type': 'button', 'id': 'filebutton', 'onclick': 'fp.click()'}).val(DOC.btn.browse);
            var input4 = $('<input>', {'type': 'button', 'id': 'btnUpload'}).val(DOC.btn.upload);
            var input5 = $('<input>', {'type': 'button', 'id': 'btnUpdatePartial'}).val(DOC.btn.update);
            $('#child_container').append($('<script>', {'type': 'text/template', 'id': 'child_template'}).append(div).append(table));
            table.append($('<tr>').append(th).append($('<td>').append(form.append(input1).append(input2).append(input3).append(input4)))).append($('<tr>').append($('<th>')).append($('<td>').append(input5)));
            $("tr").removeClass();
            $('#filebutton').css('margin', '6px');
        };
        createContent();

        Page.render();
        Page.setStripeTable();

        var theUpdateFileName = "";
        var $btnUpload = $('#btnUpload');
        var datas;
        $btnUpload.bind('click', function() {
            SysUtil.upload($('#form1'), $('#fp'), "system", function(fileName) {
                theUpdateFileName = fileName;
                closeBox();
            }); 
        });

        function update() {
            var isOk = false;
            datas = null;
            SysUtil.showProgress(ProgressTime.UPDATE_PARTIAL, PROMPT.status.updating,
                function() {
                    return datas != null || isOk;
                },
                function() {
				     if(datas == -1 || datas == -2)
					 {
					    AlertUtil.alertMsg(PROMPT.status.updateFalse);
						location.reload();
					  }else {
					   AlertUtil.alertMsg(PROMPT.status.updateSuccess);
						location.href = Page.getUrl(Url.LOGIN);
					 
					 }
                        
                }
            );
           
        }

        $('#btnUpdatePartial').bind('click', function() {
            
            if (theUpdateFileName == "") {
                    AlertUtil.alertMsg(CHECK.required.uploadFile);
                    return false;
            }
            

            Page.postJSON({
                json: {
                    cmd: RequestCmd.UPDATE_PARTIAL, 
                    method: JSONMethod.POST,
                    fileName: theUpdateFileName
                },
                success: function(data) {
					datas = data.data;
                },
                fail: function(data) {
					datas = data.data;
                }
            });

            update();
        });

    });

</script>

<div class="detail_box" id="child_container">
    <!-- <script type="text/template" id="child_template">
        <div class="detail"><%- title.localUpdate %></div>
        <table class="detail" cellspacing="0">
            <tr>
                <th><%- sys.selectUpdateFile %><%- colon %></th>
                <td>
                    <form id="form1" enctype="multipart/form-data" method="post">
                    	<input type="file" id="fp" name="fp" style="display:none;" onchange=filepath.value=this.value>
						<input type="textfield" id="filepath">
						<input type="button" id="filebutton" value="<%- btn.browse %>" onclick="fp.click()">
                        <input type="button" id="btnUpload" value="<%- btn.upload %>"/>
                    </form>
                </td>
            </tr>
            <tr>
                <th></th>
                <td><input type="button" id="btnUpdatePartial" value="<%- btn.update %>"/></td>
            </tr>
        </table>
    </script> -->
</div>
