<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript">
    $(document).ready(function() {
         TempUtil.render('homeMain-template', 'homeMainDiv', homeInfohtml.mainlabel);
       // sessionStorage["2g_register_status"] = modemStatus.2g_register_status;
        //sessionStorage["3g_register_status"] = modemStatus.3g_register_status;
       // sessionStorage["4g_register_status"] = modemStatus.4g_register_status;
       // sessionStorage["signal_lvl"] = modemStatus.signal_lvl;
       // sessionStorage["wifi_status"] = wifiStatus.status;
       // sessionStorage["wifi5_status"] = wifiStatus.status5;        
       // sessionStorage["network_link_stauts"] = modemStatus.network_link_stauts;
        var singalLevel = sessionStorage["signal_lvl"];
        var netInfo =String.format('<div id="signalHome" class=" signalHome signalHome{0}" style="margin-left:70%" title="Signal Strength:No signal"></div>', singalLevel);
        $('#signalHome').html(netInfo);

        if(sessionStorage["2g_register_status"] == 1)
            $('#signalHome_service').html('<h4 style="color:#6CF226; font-size:x-large;margin-top:0px">2G</h4>');
        else if(sessionStorage["3g_register_status"] == 1)
            $('#signalHome_service').html('<h4 style="color:#6CF226; font-size:x-large;margin-top:0px">3G</h4>');
        else if(sessionStorage["4g_register_status"] == 1)
            $('#signalHome_service').html('<h4 style="color:#6CF226; font-size:x-large;margin-top:0px">4G</h4>');
        else
            $('#signalHome_service').html('<h4 style="color:#FF0000; font-size:x-large;margin-top:0px">'+homeInfohtml.mainlabel.noService+'</h4>');
        $('#signalHome_rsrp').html(sessionStorage["rsrp"]+"dbm");
        $('#signalHome_24gwlan').html(sessionStorage["wifi_status"] ==0?homeInfohtml.mainlabel.on:homeInfohtml.mainlabel.off);
        $('#signalHome_5gwlan').html(sessionStorage["wifi5_status"] ==0?homeInfohtml.mainlabel.on:homeInfohtml.mainlabel.off);
        $('#signalHome_dial').html(sessionStorage["network_link_stauts"] ==1?homeInfohtml.mainlabel.connect:homeInfohtml.mainlabel.disconnect);

        Page.getHelperPage('html/info/homeInfo.html');
        $('.helper_box').show();
    });
</script>

<div class="detail_box" id="homeMainDiv" style="float:left;width:60%">
<script type="text/template" id="homeMain-template">
    <table width="100%" style="margin-top:5%">
    <tr>
        <td  width="50%">
        <div id="signalHome"></div>
        

        </td>
        <td width="50%" colspan="2">
            <div id="signalHome_service"></div>
            <div id="signalHome_rsrp"></div>
        </td>

    </tr>

    <tr>
        <td width="50%">
            <div style="margin-left: 50%">
                <h2><%- wifiHead %></h2>
                <table>
                    
                    <tr><td><%- wifi24 %>:</td><td id="signalHome_24gwlan"></td></tr>
                    <tr><td><%- wifi5 %>:</td><td id="signalHome_5gwlan"></td></tr>
                </table>
            </div>
        </td>
        <td width="50%">
        <div>
             <h2><%- dataService %></h2>
            <table>
               
                <tr><td><%- dailStatus%>:</td><td id="signalHome_dial"></td></tr>
                <tr><td></td><td></td></tr>
            </table>
        </div>
        </td>
    </tr>
    </table>
    </script>
</div>
<div class="helper_box" >
    <div id="helper"></div>
</div>


