<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript">
    $(document).ready(function() {
        Page.render();
        Page.setStripeTable();
        var ApnList= new Array();
        function getData() {
            Page.postJSON({
                json: {
                    cmd: RequestCmd.GET_APN_CONFIG
                },
                success: function(datas) {
                   var apnData = datas.data[0];
                   $("input[name='apnEnable']").val(apnData.enable);
                   if(apnData.enable == "1"){
                        $("#apnEnable").attr("checked",true);
                   }else{
                        $("#apnDisable").attr("checked",true);
                   }
                   // $("input[name='apnNat']").val(apnData.nat);
                   if(apnData.nat == "enable"){
                         $("input[value='enable']").attr("checked",true);
                   }else{
                         $("input[value='disable']").attr("checked",true);
                   }
                   $("#selectType").val(apnData.ip_stack);
                   $("#apn_profile").val(apnData.profile_name);
                   $("#selectAuthentication").val(apnData.auth_type);
                   $("#apn_user_name").val(apnData.username);
                   $("#apn_user_password").val(apnData.password);
                   if($("#selectAuthentication").val() == "1"){
                      $(".hideNone").show();
                   }
                   if(apnData.apn_name == undefined || apnData.apn_name == ""){
                        $("#apn_name").val("");
                   }else{
                        $("#apn_name").val(apnData.apn_name);
                   }
                   
                   ApnList = datas.data;
                }
            });
        }
      getData();

      $("#selectAuthentication").change(function(){
        if($("#selectAuthentication").val() == "1"){
            $(".hideNone").show();
        }else{
           $(".hideNone").hide();
        }
      });


      $("#btnSave").on("click",function(){
        var apnEnable,selectType,apn_profile,selectAuthentication,apn_user_name,apn_user_password,apn_name,apn_apnNat;
            if($("#apnEnable").is(":checked")){
                apnEnable = 1;
            }else{
                apnEnable = 0;
            }
            selectType =  $("#selectType").val();
            apn_profile =  $("#apn_profile").val();
            selectAuthentication =  $("#selectAuthentication").val();
            apn_user_name =  $("#apn_user_name").val();
            apn_user_password =  $("#apn_user_password").val();
            apn_name =  $("#apn_name").val();
            apn_apnNat = $("input[name='apnNat']:checked").val();
          $form = $("#form");
          if(selectAuthentication == "0"){
              apn_user_name = "";
              apn_user_password = "";
          }else{
            if($('#apn_user_name').is(":hidden") == false){
              if(apn_user_name == ""){
                AlertUtil.alertMsg(CHECK.format.apnUserName2);
                return false;
            }; 
          if(!CheckUtil.checkApnName(apn_user_name)) {
                AlertUtil.alertMsg(CHECK.format.apnUserName);
                return false;
            }
            };
          if($('#apn_user_password').is(":hidden") == false){
              if(apn_user_password == ""){
                AlertUtil.alertMsg(CHECK.format.apnPassword2);
                return false;
          }
         
              if(!CheckUtil.checkApnPassword(apn_user_password)) {
                AlertUtil.alertMsg(CHECK.format.apnPassword);
                return false;
            }
          };
          

          }
          

          var json={},json2= new Object();
          json.enable = parseInt(apnEnable,10);
          json.ip_stack = selectType;
          json.profile_name = apn_profile;
          json.auth_type = parseInt(selectAuthentication,10);
          json.username = apn_user_name;
          json.apn_name = apn_name;
          json.mtu = 1500;
          json.password = apn_user_password;
          json.nat = apn_apnNat;
          ApnList.splice(0,1,json);

          json2.apnList = ApnList;
          json2.method = JSONMethod.POST;
          json2.cmd = RequestCmd.SET_APN_CONFIG;
            Page.postJSON({
                     json: json2,
                     success:function(data){
                        if(data.success == true){
                        SysUtil.rebootDevice(PROMPT.tips.rebootMessage);
                        }
                     }
                 })
      })

    });
</script>

<div class="tab_boxes" id="child_container">
    <script type="text/template" id="child_template">
    <form id="form" style="width:60%;">
         <table class="detail" cellspacing="0" id="apn_box">
           <tr>
                <th>
                    <label><%-DOC.apn.nat %><%- colon %></label> 
                </th>
                <td>

                    <input type="radio" name="apnNat" value="enable"><span><%-DOC.status.enable %></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="apnNat" value="disable"><span><%-DOC.status.disable %></span> 
                </td>
            </tr>
            <tr id="apn_type">
                <th>
                    <%-DOC.apn.type %><%- colon %>
                </th>
                <td>
               <select style="width:150px;" id="selectType">
                    <option value="IP">IP</option>
                    <option value="IPV6">IPV6</option>
                    <option value="IPV4V6">IPV4V6</option>
               </select>
               </td>
            </tr>
            <tr id="apn_authentication">
                <th> <%-DOC.apn.authentication %><%- colon %></th>
                <td>
                    <select style="width:150px;" id="selectAuthentication">
                        <option value="0">NONE</option>
                        <option value="1">PAP</option>
                        <option value="2">CHAP</option>
                        <option value="3">PAP&CHAP</option>
                    </select>
                </td>
            </tr>
              <tr>
                <th><%-TAB.basic.apn %><%- colon %></th>
                <td>
                    <input type="text" name="apnName" id="apn_name">
                </td>
            </tr>
            <tr class="hideNone" style="display:none;">
                <th><%-DOC.apn.user %><%- colon %></th>
                <td>
                    <input type="text" name="apnUserName" id="apn_user_name">
                </td>
            </tr>
            <tr class="hideNone" style="display:none;">
                <th><%-DOC.apn.password %><%- colon %></th>
                <td>
                    <input type="text" name="apnUserPassword" id="apn_user_password">
                </td>
            </tr>
            <tr>
                 <th></th>
                 <td><input type="button" name="buttom" value="<%- networktoolhtml.form5.btnSetting %>" id="btnSave"/></td>
            </tr>
     
   </table>
    </form>
     </script>
</div>

