<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript">
    $(document).ready(function(){
        var helper = $.extend({}, wlan5ghtml.helper, wlan5ghtml.form1);
        TempUtil.render('helperContainer-template', 'helperContainer',helper);

    });
</script>

<div id="helperContainer">
    <script type="text/template" id="helperContainer-template">
        <div id="helper0">
            <div class="helper_name"><%= title1 %></div>
            <div class="helper_desc">
                <%= item1 %>
            </div>

            <div class="helper_name"><%= title2 %></div>
            <div class="helper_desc">
                <%= item2 %>
            </div>

            <div class="helper_name"><%= wmmTh %></div>
            <div class="helper_desc">
                <%= wmmTd %>
            </div>

            <div class="helper_name"><%= title3 %></div>
            <div class="helper_desc">
                <%= item3 %>
            </div>
            <div class="helper_name"><%= title6 %></div>
            <div class="helper_desc">
                <ul>
                    <%= item6 %>
                </ul>
            </div>
            <div class="helper_name"><%= title6_2 %></div>
            <div class="helper_desc">
                <ul>
                    <%= item6_2 %>
                </ul>
            </div>

            <div class="helper_name"><%= title7 %></div>
            <div class="helper_desc">
                <%= item7 %>
            </div>
        </div>
    </script>
</div>


