<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript">
    $(document).ready(function(){
        var helper = $.extend({}, wirelessconfightml.helper, wirelessconfightml.form1);
        TempUtil.render('helperContainer-template', 'helperContainer', helper);

    });
</script>

<div id="helperContainer">
    <script type="text/template" id="helperContainer-template">
        <div id="helper0">
            <div class="helper_name"><%= title1 %></div>
            <div class="helper_desc">
                <%= item1 %>
            </div>

            <div class="helper_name"><%= title2 %></div>
            <div class="helper_desc">
                <%= item2 %>
            </div>

            <div class="helper_name wifi_wmm"><%= wmmTh %></div>
            <div class="helper_desc wifi_wmm">
                <%= wmmTd %>
            </div>

            <div class="helper_name"><%= title3 %></div>
            <div class="helper_desc">
                <%= item3 %>
            </div>

            <div class="helper_name" ><%= title8 %></div>
            <div class="helper_desc" >
                <%= item8 %>
            </div>
			
			<div class="helper_name"><%= title8_2 %></div>
            <div class="helper_desc">
                <%= item8_2 %>
            </div>

            <div class="helper_name"><%= title4 %></div>
            <div class="helper_desc" id="channel_desc">
                <%= item4 %>
            </div>


            <div class="helper_name"><%= title5 %></div>
            <div class="helper_desc">
                <%= item5 %>
            </div>

			 <div class="helper_name"><%= title6 %></div>
            <div class="helper_desc">
                <ul>
                    <%= item6 %>
                </ul>
            </div>

            <div class="helper_name wpa"><%= title7 %></div>
            <div class="helper_desc wpa">
                <%= item7 %>
            </div>

        </div>
    </script>
</div>


