<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<script type="text/javascript">
    $(document).ready(function () {
        TempUtil.render('tabsitems-template', 'tabsitems', wlan5ghtml.tab_menu);
        TempUtil.render('wlform1-template', 'form', wlan5ghtml.form1);
        TempUtil.render('wlform1-template1', 'form1', wlan5ghtml.form1);
        TempUtil.render('wlform1-template2', 'form2', wlan5ghtml.form1);
		TempUtil.render('macInfoContainer-template', 'macInfoContainer', wirelessconfightml.macInfoContainer);
        var showText = wirelessconfightml.prompt;
        var $lis = $("ul.tabs a");
        var $boxes = $("div.tab_boxes > div");

        var $btnSave = $('#btnSave');
        var $wifiOpen = $('#wifiOpen'), $broadcast = $('#broadcast'), $wmm = $('#wmm'), $wifiId = $('#wifiId');
		
		var usrInfos = [], macInfos = [], firstRequest = true;
		
		function createMacInfosTable(){

            var length = macInfos.length;
            var sb = new StringBuilder();

             sb.append(String.format('<table class="list" cellspacing="0"><tr><th>{0}</th><th>{1}</th><th>{2}</th><th>MAC<th>{3}</th></th><th>SSID</th><th>{4}</th></tr>',
                showText.no,showText.edit,DOC.device.name,DOC.net.ip,showText.rate));
            for (var i = 0; i < length; i++) {
                var item = macInfos[i];
				var ipaddr = "-",name = "-";
				for( var j = 0; j < usrInfos.length; j++)
				{
				         if(usrInfos[j].mac.toUpperCase() == item.mac){
								name = usrInfos[j].name;
								ipaddr = usrInfos[j].ipaddr;
							  break;
						 }
				}
                sb.append(String.format('<tr><td>{0}</td>', i + 1));
                sb.append(String.format('<td><a id="edit{0}" href="javascript:;">{1}</a></td>', i, showText.edit));
				sb.append(String.format('<td id="name{0}">{1}</td>', i,name ));
                sb.append(String.format('<td id="mac{0}">{1}</td>', i, item.mac)); 
				sb.append(String.format('<td id="ip{0}">{1}</td>', i,ipaddr ));
                sb.append(String.format('<td id="ssid{0}">{1}</td>', i, item.ssid));
				sb.append(String.format('<td id="ssid{0}">{1}</td>', i, item.rate));
            }
            sb.append('</table>');

            $('#macInfos').html(sb.toString());

            $('a[id^=edit]').click(function() {
                var id = this.id.substring(4);
                id = parseInt(id, 10);

            });
        }

        $lis.click(function () {
            $lis.removeClass("current");
            $(this).addClass("current");
            var pannelIndex = $lis.index(this);
            $boxes.eq(pannelIndex).show().siblings().hide();
            $('#helper' + pannelIndex).show().siblings().hide();
            switch (pannelIndex) {
                case 0:
                    Page.postJSON({
                        json: { cmd: 201 },
                        success: function(datas) {
                            console.log(datas);
                            var data = datas.data;
                            if(data.status == 0){
                                $wifiOpen.prop('checked', true);
                            }else {
                                $wifiOpen.prop('checked', false);
								$lis.eq(1).hide();
                                $lis.eq(2).hide();
                            }
                            $wifiOpen.attr('old',data.status);
							$wifiId.val(data.wifi_id);

                            if(data.hidden_ssid == 0){
                                $broadcast.prop('checked', true);
                            } else {
                                $broadcast.prop('checked', false);
                            }
                            $broadcast.attr('old',data.hidden_ssid || 1);

                            if(data.wmm == 1){
                                $wmm.prop('checked', true);
                            } else {
                                $wmm.prop('checked', false);
                            }
                            $wmm.attr('old',data.wmm ||  0);


                            Page.setFormFieldValue2("channel", data.channel);
                            Page.setFormFieldValue2("ssid", data.ssid);
                            Page.setFormFieldValue2("wifiWorkMode", data.mode);
                            Page.setFormFieldValue2("bandWidth", data.bandwidth);
							Page.setFormFieldValue2("maxStation", data.maxassoc);
							var encryp = data.encryption.split("+")[0];
                            var encrypType = '"'+data.encryption.substring(encryp.length +1) +'"';
                            Page.setFormFieldValue2("authenticationType", encryp);
                            $("#encryptAlgorithm>input[value=" + encrypType +"]").attr("checked",true);
                            $('#encryptAlgorithm').attr('old',data.encryption.substring(encryp.length +1));
                            Page.setFormFieldValue2("key", data.key);


                        }
                    });
                    Page.getHelperPage('html/config/wlan5gConfig.html');
                    $('.helper_box').show();
                    break;
				case 1:
                case 2:
                    Page.postJSON({
                        json: { cmd: 120,wifiId: $wifiId.val() },
                        success: function(datas) {
                            console.log(datas);
                            var data = datas.data;
                            for(var i = 1; i <= data.length; i++) {
							    if(data[i].status == 0){
                                    $('#wifiOpen' + i).prop('checked', true);
                                }else {
                                    $('#wifiOpen' + i).prop('checked', false);
                                }
                                $('#wifiOpen' + i).attr('old',data[i].status);
								
                                if (data[i].hidden_ssid == 0) {
                                    $('#broadcast' + i).prop('checked', true);
                                } else {
                                    $('#broadcast' + i).prop('checked', false);
                                }
                                $('#broadcast' + i).attr('old', data[i].hidden_ssid || 1);

                                if (data[i].wmm == 1) {
                                    $('#wmm' + i).prop('checked', true);
                                } else {
                                    $('#wmm' + i).prop('checked', false);
                                }
                                $('#wmm' + i).attr('old', data[i].wmm || 0);

                                $('#secondaryId' + i).val(data[i].secondary_id);
                                Page.setFormFieldValue2("maxStation" +i, data[i].connect_sta_number);
                                Page.setFormFieldValue2("ssid" +i, data[i].ssid);
                                Page.setFormFieldValue2("authenticationType" +i, data[i].encryption);
								$("#encryptAlgorithm" + i+">input[value=" +data[i].encry_algorithms +"]").attr("checked",true);
                                $('#encryptAlgorithm'+i).attr('old',data[i].encry_algorithms);
                                Page.setFormFieldValue2("key" +i, data[i].password);
                            }

                        }
                    });
                    $('.helper_box').show();
                    break;
                case 3:
                    if (firstRequest) {
                        Page.postJSON({
                            returnHtml: true,
                            json: {
                                cmd: RequestCmd.WIFI5_CONTROL_INFO,
                                method: JSONMethod.GET
                            },
                            success: function(data) {
							    usrInfos = data.userlist;
                                macInfos = data.wifilist;
								console.log(macInfos);
                                createMacInfosTable();
                                firstRequest = false;
                            }
                        });
                    }
                    $('.helper_box').hide();
                    break;
            }
        });

        $lis.eq(0).click();

        var wireless_rules = {
            ssid: {required: true, minlength: 4,ssidRules:true}

        };

        var wireless_messages = {
            ssid: {required: showText.ssidCheckMsg1, minlength: showText.ssidCheckMsg2,ssidRules:showText.ssidCheckMsg3}
        };

        $btnSave.click(function() {
            $(this).attr("disabled",true);
            var count = 0;
            var $form = $('#form');
            if(!CheckUtil.checkForm($form, wireless_rules, wireless_messages)){
                $(this).attr("disabled",false);
                return false;
            }
            var json = JSON.parmsToJSON($form);
           
            if(json.key == $('#key').attr('old')){
                delete json["key"];
                count++;
            }else {
                if (!CheckUtil.checkPwd(json.key)) {
                    AlertUtil.alertMsg(showText.keyCkeckMsg);
                    $(this).attr("disabled", false);
                    return false;
                }
            }
            json.wifiOpen = json.wifiOpen ? '0' : '1';
            json.broadcast = json.broadcast ? '0' : '1';
            json.wmm = json.wmm ? '1' : '0';

            if(json.wifiOpen ==  $wifiOpen.attr('old')){
                delete json["wifiOpen"];
                count++;
            }
            if(json.broadcast ==  $broadcast.attr('old')){
                delete json["broadcast"];
                count++;
            }
            if(json.wmm ==  $wmm.attr('old')){
                delete json["wmm"];
                count++;
            }
            if(json.ssid ==  $("#ssid").attr('old')){
                delete json["ssid"];
                count++;
            }
            if(json.channel ==  $("#channel").attr('old')){
                delete json["channel"];
                count++;
            }
            if(json.wifiWorkMode ==  $("#wifiWorkMode").attr('old')){
                delete json["wifiWorkMode"];
                count++;
            }
            if(json.bandWidth ==  $("#bandWidth").attr('old')){
                delete json["bandWidth"];
                count++;
            }
			if(json.maxStation ==  $("#maxStation").attr('old')){
                delete json["maxStation"];
                count++;
            }
            if(json.authenticationType == $("#authenticationType").attr('old')){
                delete json["authenticationType"];
                count++;
            }

            if(json.encryptAlgorithm == $('#encryptAlgorithm').attr('old'))
            {
                delete json["encryptAlgorithm"];
                count++;
            }
            if(count == 11){
			    AlertUtil.alertMsg(CHECK.required.noChanges);
                $(this).attr("disabled",false);
                return false;
           }

            json.cmd = 202;
            console.log(json);
            Page.postJSON({
                json: json,
                success: function(data) {
                    console.log(data);
                    AlertUtil.alertMsg(PROMPT.saving.success);
                    $lis.eq(0).click();
                },
				 complete: function(){
                    $('#btnSave').attr("disabled",false);
                }
            });
           
        });

		        var $btn2Save = $('input[id^=btn2Save]');

        $btn2Save.click(function() {
            var id = this.id.substring(8);
            $(this).attr("disabled",true);
            var count = 0;
            var $form = $('#form'+id);
            if(!CheckUtil.checkForm($form, wireless_rules, wireless_messages)){
                $(this).attr("disabled",false);
                return false;
            }
            var json = JSON.parmsToJSON($form);

            if(json.key == $('#key' +id).attr('old')){
                delete json["key"];
                count++;
            }else {
                if (!CheckUtil.checkPwd(json.key)) {
                    AlertUtil.alertMsg(showText.keyCkeckMsg);
                    $(this).attr("disabled", false);
                    return false;
                }
            }
			
			json.wifiOpen = json.wifiOpen ? '0' : '1';
            json.broadcast = json.broadcast ? '0' : '1';
            json.wmm = json.wmm ? '1' : '0';

			if(json.wifiOpen ==  $("#wifiOpen" +id).attr('old')){
                delete json["wifiOpen"];
                count++;
            }
            if(json.broadcast == $("#broadcast" +id).attr('old')){
                delete json["broadcast"];
                count++;
            }
            if(json.wmm ==   $('#wmm' + id).attr('old')){
                delete json["wmm"];
                count++;
            }
            if(json.ssid ==  $('#ssid' + id).attr('old')){
                delete json["ssid"];
                count++;
            }
            if(json.maxStation ==   $('#maxStation' + id).attr('old')){
                delete json["maxStation"];
                count++;
            }
            if(json.wifiWorkMode ==  $('#wifiWorkMode' + id).attr('old')){
                delete json["wifiWorkMode"];
                count++;
            }
            if(json.authenticationType == $("#authenticationType" +id).attr('old')){
                delete json["authenticationType"];
                count++;
            }

            if(json.encryptAlgorithm == $('#encryptAlgorithm' +id).attr('old'))
            {
                delete json["encryptAlgorithm"];
                count++;
            }
            if(count == 9){
                AlertUtil.alertMsg(CHECK.required.noChanges);
                $(this).attr("disabled",false);
                return false;
            }

            json.cmd = 121;
			json.wifiId = $wifiId.val();
            console.log(json);
            Page.postJSON({
                json: json,
                success: function(data) {
                    console.log(data);
                    AlertUtil.alertMsg(PROMPT.saving.success);
                    $lis.eq(id).click();
                },
                complete: function(){
                    $('#btn2Save'+id).attr("disabled",false);
                }
            });

        });


    });
</script>

<div class="detail_box">
    <div class="tab_menu">
        <ul class="tabs" id="tabsitems">
            <script type="text/template" id="tabsitems-template">
                <li id="walnInfo"><a href="javascript:void(0);"><%- item1 %></a></li>
                <li id="walnInfo1"><a href="javascript:void(0);"><%- item2 %></a></li>
                <li id="walnInfo3"><a href="javascript:void(0);"><%- item3 %></a></li>
                <li id="connectedList"><a href="javascript:void(0);"><%- connectedList %></a></li>
            </script>
        </ul>
    </div>
    <div class="tab_menu_bottom"></div>
    <div >
        <div class="tab_boxes">
            <div class="main_box">
                <form id="form">
                    <script type="text/template" id="wlform1-template">
                        <table class="detail" cellspacing="0">
							<tr style = "display:none">
                                <td> <input type="text" id="wifiId" name="wifiId" /></td>
                            </tr>
                            <tr>
                                <th><%- wifiFunction %></th>
                                <td>
                                    <input type="checkbox" id="wifiOpen" name="wifiOpen" /><%- enable %>
                                </td>
                            </tr>
                            <tr>
                                <th><%- ssidBd %></th>
                                <td>
                                    <input type="checkbox" id="broadcast" name="broadcast" /><%- enable %>
                                </td>
                            </tr>
                            <tr>
                                <th><%- wmm %></th>
                                <td>
                                    <input type="checkbox" id="wmm" name="wmm" /><%- enable %>
                                </td>
                            </tr>
                            <tr>
                                <th><%- ssid %></th>
                                <td><input type="text" id="ssid" name="ssid" class="normal" maxlength="64"/></td>
                            </tr>
                            <tr>
                                <th><%- channel %></th>
                                <td><select id="channel" name="channel">
                                    <option value="auto"><%- auto %></option>
                                    <option value="36"><%- channel36 %></option>
                                    <option value="40"><%- channel40 %></option>
                                    <option value="44"><%- channel44 %></option>
                                    <option value="48"><%- channel48 %></option>
                                    <!--
                                                        <option value="52"><%- channel52 %></option>
                                                        <option value="56"><%- channel56 %></option>
                                                        <option value="60"><%- channel60 %></option>
                                                        <option value="64"><%- channel64 %></option>
                                    -->
                                    <option value="149"><%- channel149 %></option>
                                    <option value="153"><%- channel153 %></option>
                                    <option value="157"><%- channel157 %></option>
                                    <option value="161"><%- channel161 %></option>
                                    <option value="165"><%- channel165 %></option>
                                </select></td>
                            </tr>
                            <tr>
                                <th><%- Mode %></th>
                                <td>
                                    <select id="wifiWorkMode" name="wifiWorkMode">
                                        <option value="11"><%- na %></option>
                                        <option value="14"><%- ac %></option>
                                        <option value="15"><%- an_ac %></option>
                                    </select>
                                </td>
                            </tr>
                            <tr id="bandWidthTr">
                                <th><%- bandWidth %></th>
                                <td>
                                    <select name="bandWidth" id="bandWidth">
                                        <option value="20"><%- bandWidth20 %></option>
                                        <option value="40"><%- bandWidth40 %></option>
                                        <option value="20+40"><%- bandWidth60 %></option>
                                        <option value="80"><%- bandWidth80 %></option>
                                    </select>
                                </td>
                            </tr>
							<tr>
                                <th><%- maxStation %></th>
                                <td>
                                    <input type="text" id="maxStation" name="maxStation" maxlength="4" class="txt2" /><span class="cmt">(<%= maxStationCmt %>)</span>
                                </td>
                            </tr>
                            <tr>
                                <th><%- authenticationType %></th>
                                <td>
                                    <select name="authenticationType" id="authenticationType">
                                        <option value="none"><%- openSys %></option>
                                        <option value="psk"><%- wpa_psk %></option>
                                        <option value="psk2"><%- wpa2_psk %></option>
                                        <option value="mixed"><%- wpa_wpa2_psk %></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><%- encryptAlgorithmTh %></th>
                                <td>
                                    <label id="encryptAlgorithm">
                                        <input type="radio" value="none" name="encryptAlgorithm"/>
                                        &nbsp;<span><%- auto %></span>
                                        <input type="radio" value="tkip" name="encryptAlgorithm"/>
                                        &nbsp;<span><%- tkip %></span>
                                        <input type="radio" value="ccmp" name="encryptAlgorithm"/>
                                        &nbsp;<span><%- aes %></span>
                                        <input type="radio" value="ccmp+tkip" name="encryptAlgorithm"/>
                                        &nbsp;<span><%- tkip_aes %></span>
                                    </label>
                                </td>

                            </tr>
                            <tr>
                                <th><%- key %></th>
                                <td>
                                    <input type="text" name="key" maxlength="63" id="key"/>
                                </td>
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <td><input type="button" id="btnSave" value="<%- btnSave %>"/></td>
                            </tr>
                        </table>
                    </script>
                </form>
            </div>

            <div  class="main_box">
                <form id="form1">
                    <script type="text/template" id="wlform1-template1">
                        <table class="detail" cellspacing="0">
                            <tr style = "display:none">
                                <td> <input type="text" id="secondaryId1" name="secondaryId" /></td>
                            </tr>
							 <tr>
                                <th><%- wifiFunction %></th>
                                <td>
                                    <input type="checkbox" id="wifiOpen1" name="wifiOpen" /><%- enable %>
                                </td>
                            </tr>
                            <tr>
                                <th><%- ssidBd %></th>
                                <td>
                                    <input type="checkbox" id="broadcast1" name="broadcast" /><%- enable %>
                                </td>
                            </tr>
                            <tr class="wifi_wmm">
                                <th><%- wmm %></th>
                                <td>
                                    <input type="checkbox" id="wmm1" name="wmm" /><%- enable %>
                                </td>
                            </tr>

                            <tr>
                                <th><%- ssid %></th>
                                <td><input type="text" id="ssid1" name="ssid" maxlength="32" class="normal" autocomplete="off" /></td>
                            </tr>

							<tr>
                                <th><%- maxStation %></th>
                                <td>
                                    <input type="text" id="maxStation1" name="maxStation" maxlength="4" class="txt2" /><span class="cmt">(<%= maxStationCmt %>)</span>
                                </td>
                            </tr>

                            <tr>
                                <th><%- authenticationType %></th>
                                <td>
                                    <select name="authenticationType" id="authenticationType1">
                                        <option value="none"><%- openSys %></option>
                                        <option value="psk"><%- wpa_psk %></option>
                                        <option value="psk2"><%- wpa2_psk %></option>
                                        <option value="mixed"><%- wpa_wpa2_psk %></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><%- encryptAlgorithmTh %></th>
                                <td>
                                    <label id="encryptAlgorithm1">
                                        <input type="radio" value="none" name="encryptAlgorithm"/>
                                        &nbsp;<span><%- auto %></span>
                                        <input type="radio" value="tkip" name="encryptAlgorithm"/>
                                        &nbsp;<span><%- tkip %></span>
                                        <input type="radio" value="ccmp" name="encryptAlgorithm"/>
                                        &nbsp;<span><%- aes %></span>
                                        <input type="radio" value="ccmp+tkip" name="encryptAlgorithm"/>
                                        &nbsp;<span><%- tkip_aes %></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th><%- key %></th>
                                <td>
                                    <input type="text" name="key" maxlength="63" id="key1"/>
                                </td>
                            </tr>


                            <tr>
                                <th>&nbsp;</th>
                                <td><input type="button" id="btn2Save1" value="<%- btnSave %>" /></td>
                            </tr>
                        </table>
                    </script>
                </form>
            </div>

            <div  class="main_box">
                <form id="form2">
                    <script type="text/template" id="wlform1-template2">
                        <table class="detail" cellspacing="0">
                            <tr style = "display:none">
                                <td> <input type="text" id="secondaryId2" name="secondaryId" /></td>
                            </tr>
							 <tr>
                                <th><%- wifiFunction %></th>
                                <td>
                                    <input type="checkbox" id="wifiOpen2" name="wifiOpen" /><%- enable %>
                                </td>
                            </tr>
                            <tr>
                                <th><%- ssidBd %></th>
                                <td>
                                    <input type="checkbox" id="broadcast2" name="broadcast" /><%- enable %>
                                </td>
                            </tr>
                            <tr class="wifi_wmm">
                                <th><%- wmm %></th>
                                <td>
                                    <input type="checkbox" id="wmm2" name="wmm" /><%- enable %>
                                </td>
                            </tr>

                            <tr>
                                <th><%- ssid %></th>
                                <td><input type="text" id="ssid2" name="ssid" maxlength="32" class="normal" autocomplete="off" /></td>
                            </tr>

							<tr>
                                <th><%- maxStation %></th>
                                <td>
                                    <input type="text" id="maxStation2" name="maxStation" maxlength="4" class="txt2" /><span class="cmt">(<%= maxStationCmt %>)</span>
                                </td>
                            </tr>



                            <tr>
                                <th><%- authenticationType %></th>
                                <td>
                                    <select name="authenticationType" id="authenticationType2">
                                        <option value="none"><%- openSys %></option>
                                        <option value="psk"><%- wpa_psk %></option>
                                        <option value="psk2"><%- wpa2_psk %></option>
                                        <option value="mixed"><%- wpa_wpa2_psk %></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><%- encryptAlgorithmTh %></th>
                                <td>
                                    <label id="encryptAlgorithm2">
                                        <input type="radio" value="none" name="encryptAlgorithm"/>
                                        &nbsp;<span><%- auto %></span>
                                        <input type="radio" value="tkip" name="encryptAlgorithm"/>
                                        &nbsp;<span><%- tkip %></span>
                                        <input type="radio" value="ccmp" name="encryptAlgorithm"/>
                                        &nbsp;<span><%- aes %></span>
                                        <input type="radio" value="ccmp+tkip" name="encryptAlgorithm"/>
                                        &nbsp;<span><%- tkip_aes %></span>
                                    </label>
                                </td>
                            </tr>
                            <tr>
                                <th><%- key %></th>
                                <td>
                                    <input type="text" name="key" maxlength="63" id="key2"/>
                                </td>
                            </tr>


                            <tr>
                                <th>&nbsp;</th>
                                <td><input type="button" id="btn2Save2" value="<%- btnSave %>" /></td>
                            </tr>
                        </table>
                    </script>
                </form>
            </div>

             <div id="macInfoContainer">
                <script type="text/template" id="macInfoContainer-template">
                <div id="macInfos"><%- macInfos %></div>
				</script>
            </div>
        </div>
    </div>
    <div class="helper_box">
        <div id="helper"></div>
    </div>
    <span style="clear:both"></span>
</div>